
@{
    Layout = null;
}

@{ 
    int[] diasFeriados = { 1, 17, 24, 30 };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dias</title>
</head>
<body>
    <div> 
        <h1>Días Feriados</h1>
        <ul>
            @foreach (var dia in diasFeriados)
            {
                <li>Dia:@dia</li>
            }
        </ul>
    </div>
</body>
</html>
